@import "../../common.scss";

.map {
  width: 100%;
  height: 30vh;
  overflow: hidden;

  position: sticky;
  top: 0;

  @include bp($medium) {
    height: 100vh;
    position: relative;
    z-index: 1;
  }
}
